.collaboration{
    margin-top: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 1.25;
        color: #141c3a;
    }
    .logo{
        margin-top: 2rem;
        display: flex;
        gap: 20px;
        img{
            width: 50px;
            height: 50px;
        }
        p{
            font-size: 1.5rem;
            font-weight: 600;
            color: rgba(26, 14, 80, 0.966);
        }
    }
    h3{
        color: #141c3a;
        margin-top: 4rem;
        font-size: 1.5rem;
    }
    p{
        margin-top: 1rem;
        font-size: 1.25rem;
        color: #141c3a;
    }
    button{
        margin-top: 2rem;
        border-radius: 20px;
        color: #6E07F3;
        border: 2px solid #6E07F3;
        padding: 15px 70px;
        font-size: 18px;
        font-weight: 500;

        &:hover{
            border: none;
            background: #6E07F3;
            color: #fff;
            transition: 0.3s ease-out;
        }
    }
}
@media (max-width: 1200px){
    .collaboration{
        margin-top: 48rem;       
    }
}
@media (min-width: 1200px){
    .collaboration{
        h2{
            width: 60%;
        }      
    }
}
@media (max-width: 780px){
    .collaboration{
        margin-top: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        h2{
            text-align: left;
        }
    }
}