.contact{
    box-sizing: border-box;
    overflow: hidden;
    padding: 1rem calc((90vw - 1000px) / 2);
    display: flex;
    // align-items: center;
    flex-direction: column;
    position: relative;

    img{
        display: relative;
        width: 35px;
        height: 35px;
        margin-bottom: 20px;
    }

    h1{
        color: rgb(84, 78, 78);
        line-height: 1.35;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .wrapper{
        display: flex;
        align-items: center;
        }
    form{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hold{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;


            .a{
                display: flex;
                flex-direction: column;
                

                label{
                    font-size: 19px;
                    margin-bottom: 10px;
                    margin-top: 25px;
                    color: rgba(80, 76, 76, 0.733);
                    font-weight: 400;
                }
                select{
                    background: white;
                    font-size: 1.25rem;
                    padding: 10px 8px;
                    color: rgb(70, 66, 66);
                    padding: 15px;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 0.486);

                    &:focus{
                        outline: 2px solid #6d07f33f;
                        border: none;
                    }
                }
                input{
                    background: white;
                    font-size: 1.25rem;
                    padding: 10px 8px;
                    color: rgb(70, 66, 66);
                    padding: 15px;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 0.486);

                    &:focus{
                        outline: 2px solid #6d07f33f;
                        border: none;
                    }
                }
            }
        }
        .message{
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: left;

            label{
                font-size: 19px;    
                margin-bottom: 10px;
                color: rgba(80, 76, 76, 0.733);
                font-weight: 400;
            }

            textarea{
                background: white;
                font-size: 1.25rem;
                padding: 10px 8px;
                color: rgb(70, 66, 66);
                max-width: 100%;
                height: 30vh;
                border-radius: 8px;
                border: 1px solid rgba(128, 128, 128, 0.486);

                &:focus{
                    outline: 2px solid #6d07f33f;
                    border: none;
                }
            }
            
        }
        button{
            background: white;
            border-radius: 30px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: #6d07f3;
            border: 2px solid #6d07f3;
            padding: 15px 70px;
            font-weight: 500;
            font-size: 20px;

            &:hover{
                color: white;
                background: #6d07f3;
            }
        }
    }
}
@media (min-width: 600px){
    .contact{
        padding: 0 2rem;
        .hold{
            gap: 30px;
        }
    }
}
@media (min-width: 768px){
    .contact{
        padding: 0 25%;
      h1{
        // width: 53%;
        text-align: center;
      }
      form{

        .hold{
            flex-wrap: nowrap;
            .a{
                input{
                    width: 300px;
                    max-width: 100%;
                }
                select{
                    width: 330px;
                    max-width: 100%;
                }
            }
        }
      }

    }
}
@media (max-width: 768px){
    .contact{
        padding: 0 2rem;
        .hold{
             .a{
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px){
    .contact{
        h1{
            text-align: left;
        }
    }
}
