.contact{
    padding: 1rem calc((90vw - 1000px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    img{
        position: relative;
        left: -18rem;
        top: -1.5rem;  
        width: 35px;
        height: 35px;
        margin-bottom: 20px;
    }

    h1{
        width: 53%;
        text-align: left;
        line-height: 1.35;
        font-size: 38px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    form{
        // width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .hold{
            display: flex;
            gap: 30px;

            .a{

                width: 100%;
                display: flex;
                flex-direction: column;
                

                label{
                    font-size: 19px;
                    margin-bottom: 10px;
                    margin-top: 25px;
                    color: rgba(80, 76, 76, 0.733);
                    font-weight: 400;
                }
                select{
                    font-size: 1.25rem;
                    padding: 10px 8px;
                    color: rgb(70, 66, 66);
                    width: 285px;
                    padding: 15px;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 0.486);

                    &:focus{
                        outline: 2px solid #6d07f33f;
                        border: none;
                    }
                }
                input{
                    font-size: 1.25rem;
                    padding: 10px 8px;
                    color: rgb(70, 66, 66);
                    width: 250px;
                    padding: 15px;
                    border-radius: 8px;
                    outline: none;
                    border: 1px solid rgba(128, 128, 128, 0.486);

                    &:focus{
                        outline: 2px solid #6d07f33f;
                        border: none;
                    }
                }
            }
        }
        .message{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: left;

            label{
                font-size: 19px;    
                margin-bottom: 10px;
                color: rgba(80, 76, 76, 0.733);
                font-weight: 400;
            }

            textarea{
                font-size: 1.25rem;
                padding: 10px 8px;
                color: rgb(70, 66, 66);
                width: 580px;
                height: 30vh;
                border-radius: 8px;
                border: 1px solid rgba(128, 128, 128, 0.486);

                &:focus{
                    outline: 2px solid #6d07f33f;
                    border: none;
                }
            }
            
        }
        button{
            border-radius: 30px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: #6d07f3;
            border: 2px solid #6d07f3;
            padding: 15px 70px;
            font-weight: 500;
            font-size: 20px;

            &:hover{
                color: white;
                background: #6d07f3;
            }
        }
    }
}