  
footer{
    position: relative;
    background: #6e07f3;
    padding: 1rem calc((90vw - 1000px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;

    img{
        width: 70px;
        height: 70px;
    }

    h3{
        width: 40%;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.822);
    }
    .social{
        display: flex;
        gap: 30px;

        .a{
            padding: 8px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.733) ;
            cursor: pointer;
           a{
            display: flex;
            align-items: center;
            justify-content: center;
           }

            img{
                object-fit: cover;
                width: 30px;
                height: 30px;   
            }
        }
    }
}